{% extends "base.html" %}

{% load static %}

{% block title %}My Blog{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock css_files %}

{% block content %}
    <header id="main-navigation">
        <h1><a href="">Faaiz' Blog</a></h1>
        <nav><a href="">All Posts</a></nav>
    </header>
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/faaiz.png" %}" alt="Faaiz - The Author Of This Blog" />
            <h2>SYED FAAIZ' BLOG</h2>
        </header>
        <p>Hi, I am Faaiz and I love blog about tech!</p>
    </section>
    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="{% static "blog/images/mountains.jpg" %}" alt="Mountain Hiking"/>
                    </a>
                    <div class="post__content">
                        <h3>Mountain Hiking</h3>
                        <p>There's nothing like the views you get when hiking in the mountains!</p>
                    </div>
                </article>
            </li>
        </ul>
    </section>
    <section id="about">
        <h2>What I Do</h2>
        <p>I love technologies, I love to learn tech.</p>
        <p>I keep exploring tech and growing as a developer.</p>
    </section>
{% endblock content %}

